.myContainer{
  :global {
    .adm-button {
      border: none;
      background-color: none;
      // margin-bottom: 10px;
      border-radius: 40px;
    }
    .adm-button-large{
      padding-bottom: none;
    }
    .adm-space-item{
      display: flex;
      align-items: center;
    }
    .pinot{
      background-color: #6B003A;
      color: #ffffff;
      // margin-bottom: 10px;
    }
    .shallowPiont{
      background-color: #DBBDC2;
      color: #F9F0E9;
    }
    .white{
      background-color: #ffffff;
      color: #6B003A;
    }
    .bubblyrose{
      background-color: #FD877F;
      color: #6B003A;
    }
    .bordered{
      border: 2px solid #ffff;
      color: #ffffff;
      opacity: 0.8;
      margin-bottom: 10px;
      background-color: rgb(168, 121, 142);
    }
    .opacity{
      opacity: 0.9;
    }
    .picking{
      width: 70%;
      margin: auto;
      color: #ffffff;
      background-color: #6B003A;
      margin-bottom: 20px;
    }
  }
}